.profile_picture{
    height: 10em;
    width: 10em;
    border-radius: 2em;
}
.player_profile_page{
    display: flex;
    justify-content: center;
}
.player_profile_container{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 1em;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 70vh;
}

.player_info_container{
    display: flex;
    flex-direction: row;
    padding: 3em;

}
.player_info_container div {
    padding: 1em;
}
.player_profile_container_image{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
}

.file_upload_container form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.file_upload_container form input{
    width: 10vw;
}