footer {
    font-family: Roboto;
    box-shadow: 1px -11px 15px 1px #eceaea;
    border-radius: .2em;
    font-size: 1.4em;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

footer div a{
    margin-left: .2em;
    margin-right: .2em;
    color:black;
}