.category_pitcher_container div{
    display: flex;
    align-items: flex-start;
    margin-bottom: .3em;
    justify-content: space-between;
}
.category_pitcher_container div label {
    font-weight: bold;
    margin-right: .3em;

}
.text_input_pitcher {
    min-width: 100%;
}
.category_pitcher_container div > button {
   /* margin-left: 1em; */
}