.category_pitcher_container div{
    display: flex;
    align-items: flex-start;
    margin-bottom: .3em;
    justify-content: space-between;
}
.category_pitcher_container div label {
    font-weight: bold;
    margin-right: .3em;

}
.text_input_pitcher {
    min-width: 100%;
}

.player_evaluation_and_player_notes_container form {
    width:24.4em;
}
