.notes_container{
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    /* height: 60vh; */
    /* width: 60vw; */
}

.notes_container button{
    border: none;
    outline: none;
    background-color: white;
    
}

.notes_container li {
    list-style:square;
}

.note_input_container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    /* min-height: 15vh; */

}
.note_input_container h1{
    text-align: center;
}
.note_input_container  .MuiButton-contained{
    margin: 0!important;
    padding:0 !important ;
    width: 26em;
    margin-bottom: 1em!important;
}


.notes_categories_containers {
    /* flex-grow: 2; */
    box-sizing: border-box;
    min-height: 5em;
    max-height: 8em;
    max-width: 25em;
    text-align: center;
    min-width: 25em;
    overflow-y: scroll;
}


.category_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 40vw;
}