*{
    font-family: Roboto;
}
.players_library_container{
    display: flex;
    justify-content: center;
}
.MuiDataGrid-colCellTitleContainer svg {
    visibility: hidden !important;
}
#tracker_button{
    background-color: white;
    border-radius: .3em;
}